<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0RibEX9qgRqjXQkQCFy1elpJO1wTQsyw</string>
	<key>GCM_SENDER_ID</key>
	<string>384010929476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cegeplabs.tp3-2348284</string>
	<key>PROJECT_ID</key>
	<string>mobile-tp3-18333</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-tp3-18333.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384010929476:ios:f140e0fe1eeaed4cce8311</string>
</dict>
</plist>